/* two styles for button ready and for awaiting player selection on map */

move-button {
    border-radius: 8px;
    background: #AA56FF;
    box-shadow: 0px 0px 24px 0px #9428FF;
    display: flex;
    width: 720px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

move-button-text {
    color: #000;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

waiting-button {
    border-radius: 8px;
    border: 2px solid #AA56FF;
    display: flex;
    width: 720px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

waiting-button-text {
    color: #AA56FF;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}