.footer-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #000000;
}

.footer-bottom-icon {
  font-size: 24px; /* Increase the size of the logos */
  margin: 0 10px;
}

.footer-icons {
  margin-top: 10px;
}

.footer-copyright {
  display: block;
  margin-bottom: 10px;
}




.footer-icon-link {
  color: #9CA3AF; /* Tailwind's text-gray-400 */
}

.footer-icon-link:hover {
  color: #fff; /* Tailwind's hover:text-white */
}

